#Ignores for the GWT Client
clients/gwt/Borderlands2GWTClient/gwt-unitCache/*
clients/gwt/Borderlands2GWTClient/war/borderlands2gwtclient/*
clients/gwt/Borderlands2GWTClient/war/WEB-INF/classes/*
clients/gwt/Borderlands2GWTClient/war/WEB-INF/deploy/*
clients/gwt/Borderlands2GWTClient/.gwt/*

#Ignores for the AnguarJS Client
clients/angular-bootstrap/node_modules/*
clients/angular-bootstrap/bower_components/*
clients/angular-bootstrap/build/*
